@charset "UTF-8";
*{margin:  0 ; padding: 0}
body{width: 90%; margin: 0 auto;}
.headerBox, .footerBox{width: 100%; height: 50px; text-align: center;line-height: 50px;}
.content table{width: 80%; margin:0 auto;text-align: center;margin-top: 30px}
.content button{width: 70px; height: 30px;margin:30px 50px 30px 0;left: 70%;position: relative;}
